### Conditional Programming

In [ ]:
### To check whether the number is positive

num=5
if num>0:
    print("Positive")

In [ ]:
### To check whether the number is negative

num=-7
if num<0:
    print("negative")

In [ ]:
num=7
if num<0:
    print("negative")

## else is not given->no output

In [ ]:
num=0
if num>0:
    print("positive")

In [ ]:
num=float(input("Enter a number:  "))

if num > 0:
    print("positive")

In [ ]:
num=5
if num>0:
    print("positive")
else:
    print("negative")

In [ ]:
num=-5
if num>0:
    print("positive")
else:
    print("negative")

In [ ]:
num=0
if num>0:
    print("positive")
else:
    print("negative")

## add another condition

In [ ]:
num=0
if num>0:
    print("positive")
elif num==0:
    print("zero")
else:
    print("negative")

In [ ]:
num=-5000000
if num>0:
    print("positive")
elif num==0:
    print("zero")
else:
    print("negative")

In [ ]:
### 1) age is in the range of 18 to 60 (18,60 are inclusive)->adult
### 2) if age is less than 18 then young,and  18-60 adult
### 3) if age is less than 18 then young,  18-60 adult and above 60 senior citizen

In [ ]:
age=50
if age>= 18 and age <=60 :
    print("Adult")

In [ ]:

num=6
if num >18 and num<60:
    print("adult")
elif num>60:
    print("senior citizen")
else:
     print("child")

In [ ]:
### Write a program:entry fee less than age 5(incl) is free and above 60 also free ,6-25(25 is incl) entry fee is 20 and 26 to 60 it is 25

In [ ]:
num=0.1
if num <6:
    print("Free")
elif num > 60:
    print("Free")
elif num in range(6,26):
    print("fee 20")
elif num in range(26,61):
    print("fee 25")

In [ ]:
### For loops
for i in range(1,6):
    print(i)

In [ ]:
### sum of numbers from 1 to 10
sum=0

for i in range(1,4):
    sum+=i
print(sum)

In [ ]:
string="hello"
for char in string:
    print(char)

In [2]:
i=1

while i<=5:
    print(i)
    i+=1

1
2
3
4
5

In [1]:
sum=0
i=1
while i <=10:
    sum+=i
    i+=1
print(sum)

55

In [4]:
count=5

while count>0:
    print(count)
    count-=1

5
4
3
2
1

In [5]:
string="hello"
count=0

while count<3:
    print(string)
    count+=1

hello
hello
hello

In [6]:
string='hello'
for i in range(1,4):
    print(string)

hello
hello
hello

In [7]:
string='hello'
count=0

while count<3:
    print(string)
    count+=1

hello
hello
hello

In [9]:
### Functions

def square(num):
    return num*num

result=square(10)
print(result)

100

In [10]:
def calculate_area(length,breadth):
    return length * breadth

length=10
breadth=5

area=calculate_area(length,breadth)
print(area)

50

In [13]:
### Check whether the number is even

def is_even(num):
    return num %2==0

number=15

if is_even(number):
    print("even")
else:
    print("odd")

odd

In [15]:
number=8
result=(lambda num:num*num)(number)
print(result)

64

In [17]:
number=11
is_even=lambda num:num %2==0
if is_even(number):
    print("even")
else:
    print("odd")

odd

In [18]:
### area of rectangle using lambda
len=5
bre=6
area=(lambda length,breadth:length*breadth)(len,bre)
print(area)

30

In [21]:
### map
numbers=[1,2,3,4,5,6,7]
doubled=map(lambda x:x*2,numbers)
print(list(doubled))

[2, 4, 6, 8, 10, 12, 14]

In [22]:
numbers=[1,2,3,4,5,6,7]
even=filter(lambda x:x%2==0,numbers)
print(list(even))

[2, 4, 6]

In [23]:
### functools

from functools import reduce
sum=reduce(lambda x,y:x+y,numbers)
sum

28

In [ ]:
## use map to convert celsius to fahrenheit->(9/5 c +32)
### find the product of numbers in a list using lambda

In [ ]:
### Create a string variable named sentence ,convert into lowercase
### uppercase
### Split into words and store the in a list